
.cell {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border: 1px solid grey;
    transition: transform 0.3s ease;
  }
  
  .cell:hover {
    transform: scale(0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: darksalmon;
  }
  