
.cell {
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border: 1px solid rgba(160, 160, 160, 0.963);
    transition: transform 0.3s ease;
    margin: 0.5px;
  }
  
  .cell:hover {
    transform: scale(1.1) rotate(10deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: darksalmon;
}
  