
.hot:hover{
    color: red;
    
}
.blur{
    filter: blur(8px);
  -webkit-filter: blur(8px);
}

.thin{
    font-weight: 400;
}
.large-txt{
    font-size: 700%;
}
.canvas{
    border: solid 1px blue;  
    width: 100%;
  }